<header>
  <div class="row flex-center" style="margin-bottom: 0">
    <div class="col col-4">
      <p>
        <strong
          ><a href="{{ '/' | relative_url }}"
            >{{ site.title | escape }}</a
          ></strong
        >
      </p>
    </div>

    <div class="col col-4">
      <nav>
        <ul>
          {%- for p in site.nav_menu -%}
          <li style="display: inline">
            <a href="{{ p.path | relative_url }}">{{ p.title }}</a>
          </li>
          {%- endfor -%}
        </ul>
      </nav>
    </div>
  </div>
  <hr />
</header>
